a {
    text-decoration: none !important;
}

[data-scroll] {
    cursor: pointer;
}

.btn-brand {
    background-color: white;
    color: black;
    transition: 1s;

    &:hover {
        background-color: black;
        color: white;
    }

    &:focus {
        box-shadow: none !important;
    }
}

.dropdown_menu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    background-color: white;
    border: thin solid gray;
    border-radius: 4px;

    a {
        width: 100%;
        background-color: white;
        color: black;
        padding: 0 8px;

        &:hover {
            background-color: lightgray;
        }
    }
}

.content_section {
    height: 100vh;
    width: 100%;
    position: relative;

    .content_title {
        color: black;
        text-align: center;
        margin-bottom: 20px;
    }

    &:not(.no_content_props) {
        max-height: 100vh;
        overflow: auto;
        background-color: white;
        padding: 25px 150px 0 150px;

        .to_the_top_tab {
            margin-left: -150px;
            margin-right: -150px;
            margin-top: -25px;
            display: flex;
            justify-content: flex-start;

            .tab {
                padding: 3px;
                color: white;
                background-color: black;

                &:last-child {
                    border-bottom-right-radius: 10px;
                }

                &:not(:first-child) {
                    border-left: thin solid gray;
                }
            }
        }

        @media only screen and (max-width: 1200px) {
            padding-left: 100px;
            padding-right: 100px;

            .to_the_top_tab {
                margin-left: -100px;
                margin-right: -100px;
            }
        }

        @media only screen and (max-width: 1000px) {
            padding-left: 50px;
            padding-right: 50px;

            .to_the_top_tab {
                margin-left: -50px;
                margin-right: -50px;
            }
        }

        @media only screen and (max-width: 830px) {
            padding-left: 20px;
            padding-right: 20px;

            .to_the_top_tab {
                margin-left: -20px;
                margin-right: -20px;
            }
        }
    }
}
